.containerRestaurantCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.restaurantCard {
  position: relative;
  width: 30vw;
  height: 35vh;
  margin-top: 4vh;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px #888888;
}

.restaurantCard img {
  height: 100%;
  max-width: 100%;
  border-radius: 9px 10px 10px 9px;
}

.cardGradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 40%, #ffffff 60%);
  border-radius: 0 10px 10px 0;
}

.cardInformations {
  position: absolute;
  left: 65%;
  width: 30%;
  height: 100%;
  border-radius: 0 10px 10px 0;
}
